/*************** fonts **************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Cutive+Mono&family=Nanum+Myeongjo&family=Poiret+One&display=swap');

/************* global parameters ***************/



a {
    color: inherit;
}

nav a {
    text-decoration: inherit;
}


/***************** navbar *****************/

.menubar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20vw;
    background: #4c0e4f;
}

#darkmodebutton input {
    position: fixed;
    top: 1.5vh;
    left: 1.5vh;
    max-height: 2.5vw;
    max-width: 2.5vw;
    border-radius: 100%;
    border: 2px solid white;
    background-color: white;
}

#enableDarkButton {
    z-index: 1;
}
.profilepic {
    content: url(assets/ppic.jpg);
    width: 10vw;
    border-radius: 50%;
    border: 5px solid white;
    margin: 0 auto;
    margin-bottom: 5vh;
    background-color: white;
}

.mebar {
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-bottom: 5vh;
}

#mename {
    font-size: 4.2vh;
    margin-bottom: 2vh;
    font-family: 'Poiret One';
    font-weight: bold;
    letter-spacing: 0.1vh;
    color: white;
}

#metitle {
    font-family: 'Open Sans';
    font-size: 2.2vh;
}

.inpage {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Open Sans';
    text-decoration: none;
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    width: 100%;
    margin-bottom: 8vh;
}

.inpagelink {
    padding: 1.5vh 0;
}

.inpagelink:hover {
    background: white;
    color: #4c0e4f;
}

.medialinks {
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.mllogo {
    margin: 1vh;
    max-height: 5vh;
    max-width: 5vh;
}

/************************ body container *******************/

#body-flex-container {
    position: fixed;
    background: transparent;
    color: black;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    top: 0;
    left: 20vw;
    width: 80vw;
    padding: 0 5vw;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.body-content {
    flex: 0 0 auto;
    font-family: 'Open Sans';
    width: 80vw;
}

/**************** landing page ****************/

.introanim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Cutive Mono';
    font-size: 2vw;
    height: 100vh;
}

.intro1 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 1s steps(15, end),
    cursor .75s step-end 2;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.term2 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
    animation: typing 0s steps(1, end);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.intro2 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 2s steps(25, end),
    cursor .75s step-end 3;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.term3 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
    animation: typing 0s steps(1, end);
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.intro3 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 2s steps(25, end),
    cursor .75s step-end 3;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

.term4 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
    animation: typing 0s steps(1, end);
    animation-fill-mode: forwards;
    animation-delay: 8s;
}

.intro4 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 2s steps(25, end),
    cursor .75s step-end 1;
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
}

/* typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

  /*cursor blink effect
   (only works if transparent border set on anim target) */
@keyframes cursor {
    from, to { border-color: transparent; }
    50% { border-color: inherit; }
}

/******************** other pages ***********************/



/************ contact form **************/
#contact {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    width: 40vw;
}

form input {
    height: 4vh;
    font-size: 2vh;
}

#conmessage {
    height: 12vh;
}

#cv {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

li {
    font-size: 2vh;
}
h2 {
    font-size: 3vh;
}
h3 {
    font-size: 2.5vh;
}

#submit {
    color: white;
    background: #4c0e4f;
    height: 4vh;
    width: 10vw;
    border: 3px solid #4c0e4f;
}

#submit:hover {
    color: #4c0e4f;
    background: white;
}