/*************** fonts **************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Cutive+Mono&family=Nanum+Myeongjo&family=Poiret+One&display=swap');

/************* global parameters ***************/

body {
    margin: 0;
    background: #2d3f4d;

}

a {
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
    font-size: inherit;
}


/***************** navbars *****************/

/* @media only screen and (min-width: 900px) {
.menubar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 100vh;
    width: 20vw;
    background: #4c0e4f;
}
} */

.topbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 8vh;
    flex-wrap: nowrap;
    background: #4c0e4f;
    color: white;
    text-align: center;
}

    #mename {
        font-size: 7vw;
        font-family: 'Poiret One';
        font-weight: bold;
        color: white;
        height: 100%;
    }


#sidebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    font-family: 'Open Sans';
    text-decoration: none;
    font-size: 2.5vh;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    width: 100vw;
    padding-top: 2vh;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Poiret One';
}

    .sidebarlink {
        width: 35vw;
        height: 3vh;
        padding: 1vh 3vw;
        color: white;
        border-radius: 2vh;
    }

    #menuoverlay {
        position: fixed;
        top: 22vh;
        left: 0;
        height: 66vh;
        width: 100vw;
        z-index: -1;
    }

    .sidebarlink:active {
        background: white;
        color: #0c0c0c;
    }

.bottombar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 0;
    bottom: 3vh;
    width: 100vw;
    height: 88vh;    flex-wrap: nowrap;
    box-sizing: border-box;
}


    #menubutton {
        max-height: 8vh;
        max-width: 10vw;
        border-radius: 50%;
        border: 2px solid white;
        box-sizing: border-box;
        background: #0c0c0c;
        transition: 0.5s;
        z-index: 3;
    }

    .medialinks {
        display: flex;
        justify-self: flex-end;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .mllogo {
        margin: 0 1.5vw;
        max-height: 8vh;
        max-width: 10vw;
        border-radius: 20%;
        border: 2px solid white;
        box-sizing: border-box;
        background: white;

    }


    #darkbutton {
        max-height: 8vh;
        max-width: 10vw;
        border-radius: 50%;
        transition: 0.5s;
        box-sizing: border-box;
        background: #0c0c0c;
        border: 2px solid white;
        z-index: 3;
    }
    
.profilepic {
    content: url(assets/ppic.jpg);
    max-height: 40vh;
    max-width: 30vw;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #4c0e4f;
    background-color: #4c0e4f;
}










/************************ body container *******************/

/* DESKTOP
#body-flex-container {
    position: fixed;
    background: transparent;
    color: #0c0c0c;
    display: 
    inline-flex;
    flex-direction: row;
    overflow: hidden;
    top: 0;
    left: 20vw;
    width: 80vw;
    padding: 0 5vw;
}
*/

#body-flex-container {
    position: fixed;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top: 10vh;
    height: 88vh;
    left: 0;
    width: 90vw;
    transition: 0.5s;
    margin: 0 5vw;
    box-sizing: border-box;
    border-radius: 3vh;
    z-index: 1;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.body-content {
    flex: 0 0 auto;
    font-family: 'Open Sans';
    width: 88vw;
    padding: 3vh 5vw;
    height: 100%;
    box-sizing: border-box;
}

/**************** landing page ****************/

#home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.introanim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Cutive Mono';
    height: 100%;
    font-size: 5vw;
}

.intro1 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 1.5s steps(20, end),
    cursor .75s step-end 2;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.term2 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
    animation: typing 0s steps(1, end);
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}
.intro2 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 1.5s steps(20, end),
    cursor .75s step-end 2;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.term3 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
    animation: typing 0s steps(1, end);
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.intro3 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 1.5s steps(20, end),
    cursor .75s step-end 2;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

.term4 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
    animation: typing 0s steps(1, end);
    animation-fill-mode: forwards;
    animation-delay: 7s;
    opacity: 0;
}

.intro4 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 1.5s steps(20, end),
    cursor .75s step-end 2;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
.term5 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
    animation: typing 0s steps(1, end);
    animation-fill-mode: forwards;
    animation-delay: 9s;
}


.intro5 {
    overflow: hidden;
    width: 0;
	white-space: nowrap;
	border-right: 0.2em solid transparent;
    animation: 
    typing 1.5s steps(20, end),
    cursor .75s step-end 2;
    animation-delay: 9.5s;
    animation-fill-mode: forwards;
}

/* typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

  /*cursor blink effect
   (only works if transparent border set on anim target) */
@keyframes cursor {
    from, to { border-color: transparent; }
    50% { border-color: inherit; }
}

/******************** other pages ***********************/



/************ contact form **************/
#contact {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    width: 40vw;
}

form input {
    height: 4vh;
    font-size: 2vh;
}

#conmessage {
    height: 12vh;
}

#cv {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

li {
    font-size: 2vh;
}
h2 {
    font-size: 3vh;
}
h3 {
    font-size: 2.5vh;
}

#submit {
    color: white;
    background: #4c0e4f;
    height: 4vh;
    width: 10vw;
    border: 3px solid #4c0e4f;
}

#submit:hover {
    color: #4c0e4f;
    background: white;
}