/* line by line intro anim */

.term {
  overflow: hidden;
  width: 0;
  white-space: nowrap;
}
.line {
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  border-right: 0.2em solid transparent;
}
#line1 {
  animation: typing 1s steps(20, end), cursor 0.5s step-end 2;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
#term2 {
  animation: typing 0s steps(1, end);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#line2 {
  animation: typing 1s steps(20, end), cursor 0.5s step-end 2;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
#term3 {
  animation: typing 0s steps(1, end);
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
#line3 {
  animation: typing 1s steps(20, end), cursor 0.5s step-end 2;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}
#term4 {
  animation: typing 0s steps(1, end);
  animation-delay: 5.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
#line4 {
  animation: typing 1s steps(20, end), cursor 0.5s step-end 2;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
}
#term5 {
  animation: typing 0s steps(1, end);
  animation-delay: 7s;
  animation-fill-mode: forwards;
}
#line5 {
  animation: typing 1s steps(20, end), cursor 0.5s step-end 2;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
}
/* typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*cursor blink effect
   (only works if transparent border set on anim target) */
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: inherit;
  }
}
