@media only screen and (min-width: 769px) {
  #background {
    background-color: #0c0c0c;
    background-image: url("../assets/bgdesk.png");
    background-attachment: cover;
    background-repeat: no-repeat;
    position: fixed;
    filter: invert(1);
    transition: filter 0.5s;
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .menucont {
    background: white;
    color: #33095e;
    border: 4px solid;
    border-color: #33095e;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  }

  #topbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 2%;
    top: 6%;
    width: 96%;
    height: 8vh;
    flex-wrap: nowrap;
    text-align: center;
    border-radius: 6vh;
    box-sizing: border-box;
  }

  #mename {
    font-size: 3rem;
    font-family: "Poiret One";
    font-weight: bold;
    height: 100%;
    letter-spacing: 0.05rem;
  }

  #menubutton {
    display: none;
  }

  #darkbutton {
    position: fixed;
    top: 7%;
    right: 6%;
    max-height: 6vh;
    border-radius: 50%;
    transition: filter 0.5s;
    box-sizing: border-box;
    background: black;
    border: 4px solid white;
    filter: invert(1);
    z-index: 3;
  }

  .bottombar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 20%;
    height: 78%;
    width: 20%;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 2%;
    box-sizing: border-box;
  }

  #sidebar {
    position: fixed;
    left: 2%;
    top: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: space-between;
    font-family: "Open Sans";
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-align: center;
    box-sizing: border-box;
    font-family: "Poiret One";
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    width: 16vw;
    height: 40%;
  }

  .sidebarlink {
    width: 100%;
    padding: 0.2rem 0;
    border-radius: 3vh;
    box-sizing: border-box;
    margin: 5% 0;
    height: 6vh;
  }

  .sidebarlink:hover {
    text-shadow: 0 0 2px;
  }

  .sidebarlink:active {
    filter: invert(1);
  }

  .medialinks {
    position: fixed;
    width: 16vw;
    left: 2%;
    bottom: 2%;
    border-radius: 4vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 1vh 1vw;
  }

  .mllogo {
    max-height: 4vh;
    max-width: 8vw;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #33095e;
    background: #33095e;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    padding: 0;
    margin: 0 0.2vw;
  }

  #mprofilepic {
    display: none;
  }

  #dprofilepic {
    position: fixed;
    top: 20%;
    left: 3%;
    content: url(../assets/ppic.jpg);
    box-sizing: border-box;
    border: 4px solid #33095e;
    background-color: #33095e;
    border-radius: 50%;
    max-width: 14vw;
    margin: 0 auto;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  }

  #body-flex-container {
    position: fixed;
    background: white;
    color: #0c0c0c;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top: 20%;
    height: 78%;
    left: 20%;
    width: 78%;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    box-sizing: border-box;
    border: 4px solid;
    border-color: #33095e;
    border-radius: 3vh;
    z-index: 1;
  }

  .scrolling-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    scroll-behavior: smooth;
    justify-content: center;
  }

  .body-content {
    flex: 0 0 auto;
    font-family: "Open Sans";
    padding: 3% 5%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
  }

  .introanim {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Cutive Mono";
    height: 100%;
    width: 100%;
    font-size: 3vw;
  }
}
