a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
  font-size: inherit;
}

#background {
  background-color: #0c0c0c;
  background-attachment: cover;
  background-repeat: no-repeat;
  position: fixed;
  filter: invert(1);
  transition: filter 0.5s;
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
body {
  margin: 0;
}
.bodyarticle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans";
  text-align: center;
}
#bodyflexcontainer {
  cursor: move;
  position: fixed;
  background: white;
  color: #0c0c0c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  top: 100%;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s, top 0.5s, left 0.5s;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #33095e;
  border-radius: 3vh;
  z-index: 1;
  padding: 0 5%;
}
.bold {
  font-weight: bold;
}
.btnarrow {
  z-index: 3;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
}
#btndark {
  position: absolute;
  z-index: 1;
}
#btnleft {
    content: url(../assets/chevronleft.png);
    position: absolute;
    left: 7%;
  }
  #btnright {
    content: url(../assets/chevronright.png);
    position: absolute;
    left: 88%;
  }
.btnround {
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  background: white;
  padding: 3px;
  transition: filter 0.5s;
}
.currentpg {
  text-shadow: 0 0 2px;
}
.dispnone {
  display: none;
}
#email {
  position: absolute;
  transition: filter 0.5s;
}
.flashcard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  position: absolute;
  left: 95%;
  height: 80%;
  width: 70%;
  padding: 10%;
  border-radius: 3vh;
  transition: 1s;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.introanim {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Cutive Mono";
    text-align: justify;
    font-size: 4.6vw;
    width: 100%;
    height: 50%;
}
.introanim p {
  margin: 3vh 0;
}
.medialinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 0;
}
.menucont {
  background: white;
  color: #33095e;
  border: 2px solid;
  border-color: #33095e;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}
.mllogo {
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #33095e;
  background: #33095e;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  padding: 0;
  margin: auto 0;
}
#myname {
  text-shadow: 0 0 1px;
  letter-spacing: 0.1vh;
}
#mytitle {
  font-family: "Poiret One";
  font-weight: bold;
  letter-spacing: 0.06vh;
}
.namebar {
  text-align: center;
  font-family: "Poiret One";
  font-weight: bold;
}
.namebar p {
  margin: 0;
}
#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 100%;
  box-sizing: border-box;
  border-radius: 3vh;
  padding: 1vh 1vw;
  text-align: center;
  transition: top 0.5s, left 0.5s, border-color 0.5s, background-color 0.5s,
    color 0.5s;
}
.navlinks {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 13%;
  width: 100%;
  align-items: center;
}
p {
  margin: 0;
}
.pglink {
  box-sizing: border-box;
  transition: color 0.5s;
  text-align: center;
  cursor: pointer;
}
.pglink:hover {
  text-decoration: underline;
}
.pglink:active {
  text-shadow: 0 0 10px;
}
.pglinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poiret One";
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}
#phone {
  position: absolute;
}
#picprofilem {
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    box-sizing: border-box;
    border: 3px solid #33095e;
    background-color: #33095e;
    border-radius: 50%;
}
ul {
  padding: 0;
  text-align: left;
}
.underline {
  text-decoration: underline;
}
