@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 2/1) {
  #background {
    background-image: url("../assets/bgdesk.webp");
  }
  .bodyarticle {
    padding: 10%;
    height: 80%;
  }
  .bodyarticle p {
    font-size: 3.6vh;
  }
  .bodyarticle li, .bodyarticle h3 {
    font-size: 2.8vh;
  }
  #bodyflexcontainer {
    flex-direction: column;
    left: 18%;
    width: 80%;
    height: 82%;
  }
  .btnarrow {
    width: 4vh;
  }
  #btndark {
    right: 3%;
    top: 2%;
  }
  #btnmenu {
    content: url(../assets/chevron.png);
    position: absolute;
    right: 47.5%;
    bottom: 2%;
  }
  .btnround {
    max-height: 4vh;
  }
  #email {
    bottom: 5%;
    right: 38%;
  }
  #emailaddress {
    font-family: "Open Sans";
    font-size: 2vw;
    position: absolute;
    margin-left: 1vw;
  }
  .introanim {
    font-size: 4vh;
    width: 60%;
    height: 100%;
    align-items: center;
  }
  .medialinks {
    position: absolute;
    left: 2%;
    bottom: 5%;
    width: 16%;
  }
  .mllogo {
    max-height: 4vh;
  }
  #myname {
    font-size: 4.7vh;
    margin-top: 2vh;
  }
  #mytitle {
    margin-top: 0.5vh;
    font-size: 2.5vh;
  }
  .namebar {
    width: 100%;
    height: 20%;
  }
  #navbar {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    left: 2%;
    width: 80%;
    height: 82%;
  }
  .pglinks {
    flex-flow: column wrap;
    font-size: 4vh;
    position: absolute;
    left: 2%;
    bottom: 20%;
    width: 16%;
  }
  .pglink {
    margin: 0.5vh 0;
  }
  #phone {
    bottom: 5%;
    left: 30%;
  }
  #phoneno {
    font-family: "Open Sans";
    font-size: 2vw;
    position: absolute;
    margin-left: 1vw;
  }
  #picprofiled {
    content: url(../assets/ppic.jpg);
    position: absolute;
    left: 4%;
    top: 16%;
    max-width: 10vw;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    box-sizing: border-box;
    border: 3px solid #33095e;
    background-color: #33095e;
    border-radius: 50%;
  }
  #picprofilem {
    display: none;
  }
}