@media (max-aspect-ratio: 3/4) {
  #background {
    background-image: url("../assets/bgmob.png");
  }
  .bodyarticle {
    padding: 0 10%;
    height: 60%;
  }
  .bodyarticle p,
  .bodyarticle li,
  .bodyarticle h3 {
    font-size: 2.2vh;
  }
  #bodyflexcontainer {
    flex-direction: column;
    height: 82%;
    left: 5%;
    width: 90%;
  }
  .btnarrow {
    width: 5vw;
  }
  #btndark {
    right: 3%;
    top: 2%;
  }
  #btnmenu {
    content: url("../assets/chevron.png");
    position: absolute;
    right: 47.5%;
    bottom: 2%;
  }
  .btnround {
    max-width: 4vh;
  }
  #contact {
    position: absolute;
    width: 94%;
    justify-content: space-between;
    bottom: 1vh;
    left: 3%;
  }
  #emailaddress {
    display: none;
  }
  .introanim {
    font-size: 4.6vw;
    width: 100%;
    height: 50%;
  }
  .medialinks {
    width: 40%;
  }
  .mllogo {
    max-height: 4vh;
  }
  #myname {
    font-size: 4.8vh;
    margin-top: 2vh;
  }
  #mytitle {
    margin-top: 0.5vh;
    font-size: 2.5vh;
  }
  .namebar {
    width: 100%;
    height: 20%;
  }
  #navbar {
    flex-flow: column wrap;
    align-items: center;
    left: 5%;
    width: 90%;
    height: 82%;
  }
  .pglinks {
    flex-flow: row wrap;
    font-size: 5vw;
    width: 100%;
  }
  #phoneno {
    display: none;
  }
  #picprofiled {
    display: none;
  }
  #picprofilem {
    max-width: 35vw;
    max-height: 35vh;
  }
}
