@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Cutive+Mono&family=Nanum+Myeongjo&family=Poiret+One&display=swap");

@import "mobile.css";
@import "desktop.css";
@import "body-content.css";

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
  font-size: inherit;
}
